<div>
  <footer th:fragment="site-footer" id="gtco-footer" class="gtco-footer-paragraph gtco-footer-link">
    <div class="gtco-container">
      <div class="row">
        <div class="col-md-12 col-md-offset-0 text-left">
          <div class="display-t">
            <div class="display-tc">
              <div class="row">
                <div class="col-md-8">
                  <p>made by marco</p>
                  <a href="https://www.google.ch">Link</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>